VITE_FIREBASE_API_KEY=AIzaSyBdUwD08r0UCweAZHXlnppo-kepN-Glzz8
VITE_FIREBASE_AUTH_DOMAIN=chevvy-a6f5c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=chevvy-a6f5c
VITE_FIREBASE_STORAGE_BUCKET=chevvy-a6f5c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=931455067748
VITE_FIREBASE_APP_ID=1:931455067748:web:6e55a6b291eef56ead6171
